language: android
jdk: oraclejdk8
sudo: required
android:
  components:
  - platform-tools
  - tools
  - build-tools-25.0.2
  - android-25
  - extra-android-m2repository

script:
- "./gradlew assembleRelease"

deploy:
  provider: releases
  api_key:
    secure: vqLl33x7l+E9cfuioIvVB+Fj9jJQnxv9yyDIpJXnONJt1KMgcjj3LmGQ5mNMO/Nz2Y9L4bYdC7MX+r0F/mhHD4T43RSgFtK3MqMW4BVPef6tNis9+5t31YD0pxjVr8lmaApv65KJ84IvBT54kG/6phtIki8132oXwiQXO58Ra6/kU54rAJnv9FigObpwHTaduGmyR6wsx6+sSuC3bWOVAN/zwameetBWU3WncvLDSaiefonDEjMAEQt5Aml9McGMirLHJDwDNolwpB3W54/gQ/RZJs8qJsIA1URQiAI4vtZ39hGb3++I+/JqSg+2qtRaWQK8MgMjRZbOamdB+NvMPNaDPg5Kf0pDRESX97N1qezlUf5oeW5jwnOhUIkZpGocO3+291bx+lNUILC7ga4eRyGZikdZKLmK0AqRZF4MBIPGX/2tnX0kbMmDLqVvyx8I9ioXBJ19k+zF6a5/fOQA4NLW7sYl6G0gbaM7+crL48e/kSBgNAkfynCIDVR5T2J8nZxUgXXB/0SSq3dSEBhkG0FTsyHbGpen3gObyknowe2XC7sGIekuh91Mr9uYGdbMuvE33vTeBzsEj9w/LXMf8qtPZ9o3Z7mxaFHE7aXHbB3dGjxAUAb38YuSxbvJpnTKi0GLLurkJ7i6NMWAoKxxMzH/duCyPr3Y/3aRFCAbqm0=
  file: "$TRAVIS_BUILD_DIR/app/build/outputs/apk/app-release-unsigned.apk"
  skip_cleanup: true
  on:
    tags: true

before_install:
- gem install fir-cli
after_deploy:
# pgyer
- curl -F "file=@$TRAVIS_BUILD_DIR/app/build/outputs/apk/app-release-unsigned.apk" -F uKey=System.getenv('pgyer_u_key') -F _api_key=System.getenv('pgyer_api_key') -F "updateDescription=`git cat-file tag $TRAVIS_TAG`" https://qiniu-storage.pgyer.com/apiv1/app/upload
# fir.im
- fir p $TRAVIS_BUILD_DIR/app/build/outputs/apk/app-release-unsigned.apk -T System.getenv('fir_token') -c "`git cat-file tag $TRAVIS_TAG`"